<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Produits</h6>
        </div>
          <h6>recherche par ref</h6>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Assignee</mat-label>
              <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="verif(option)">
                    <span>{{option.refProd}}</span>
                    <span>||</span>
                    <span>{{option.nameProd}}</span>
                    <span>||</span>
                  <span>{{option.prixProd}}</span>

                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <h6> table</h6>
          </form>
        <div class="card-body">
             <div class="table-responsive">
              <p>recherche</p>
              <input  (input)="RechercheParRef($event)" placeholder="recherche Par Ref"   [(ngModel)]="rechercheRef">
              <input  (input)="RechercheParName($event)" placeholder="recherche par name" [(ngModel)]="rechercheName"> 
              <input  (input)="RechercheParQuantite($event)" placeholder="recherche par Quantite" [(ngModel)]="rechercheQuantite">
              
             
              
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>réferance Produits</th>
                            <th>name  Produit</th>
                            <th>quantite</th>
                            <th>prix</th>
                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Réferance Produit</th>
                            <th>Name Produit</th>
                            <th>Quantite</th>
                            <th>prix</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        <tr *ngFor="let item of dp.Produits;index as i">
                            <td>{{item.refProd}}</td>
                            <td>{{item.nameProd}}</td>
                            <td>{{item.quantite}}</td>
                            <td>{{item.prixProd}}</td>
                            
                            <td>
                                <button class="btn btn-success"   data-mdb-toggle="modal" data-mdb-target="#staticBackdrop"  (click)="openNav(i)">Update</button>
                                
                                <button class="btn btn-danger" (click)="delete(item._id,i)" >Delete</button>
                            </td>
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            
             </div>
        </div>
 <!--pagination-->
 <app-autocomplete-display-example></app-autocomplete-display-example>


 <!---->

    </div>
  
</div>

<!---------------->
    

<div [ngClass]="class" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
   
<div class="container" *ngIf="affichFormModif">


    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Réferance Produit</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Réferance Produit" [(ngModel)]="produitModifier.refProd"/>
        
    </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name Produit</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" placeholder="Name Produit" [(ngModel)]="produitModifier.nameProd"/>
              
        </div>
      </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Quantite</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Quantite" [(ngModel)]="produitModifier.quantite"/>
      </div>
    </div>
   
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword3" placeholder="Prix" [(ngModel)]="produitModifier.prixProd"/>
        </div>
      </div>
    
    <button type="submit" class="btn btn-primary" (click)="Update()"  >Update Produit</button>  


</div>

  </div>
  
<!------------------------>

